/* 전체 문서 기본 폰트 */
body {
    font-family: 'Roboto', 'Segoe UI', 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    padding: 100px 20px 20px 20px;
    max-width: 768px;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.main-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 70px;
    display: flex;
}

.main-top a {
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #222;
    font-size: 28px;
}


/* 제목 스타일 (Markdown #, ##, ### 등) */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #222;
}

/* 본문 (일반 문장 스타일) */
p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

/* 코드 블록 스타일 */
pre, code {
    font-family: 'Fira Code', 'Courier New', monospace;
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
}

/* 목록 스타일 */
ul, ol {
    font-size: 16px;
    margin-left: 20px;
}

/* 링크 스타일 */
a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 강조 (Bold, Italic) */
strong {
    font-weight: bold;
    color: #000;
}

em {
    font-style: italic;
    color: #555;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    table {
        overflow-x: auto;
        display: block;
    }

}