<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UClone Documents</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

</head>
<body>
    <link rel="stylesheet" href="/assets/css/style.css">
    <div class="main-top">
        <a href="/">
            <img src="/images/uclone_logo_128.png"
                alt="UClone Logo" width="40" height="auto"
                style="vertical-align: middle;"
                class="logo-image">
            UClone : Universe of AI Clones
        </a>
    </div>
    <div class="container">
        {{ content }}
    </div>
</body>
</html>